*{
    margin: 1;
    padding: 0;
    background-color: black;
    color: blueviolet;
    text-decoration:none
}
.title{
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    font-size: 60px;
    font-style: italic;
}
.bitter-classfont {
    font-family: "Bitter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.about_me{
    font-family: Bitter;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.Projects{
    text-align: center;
    font-size: 50px;
}
.About_Head{
    text-align: center;
    font-size: 50px;
    font-style: italic;
}
.navbar{
    font-size: 35px;
    text-align: center;
    background-color: rgb(20, 3, 20);
}
.project_body{
    font-family: Bitter;
    font-size: 25px;
    
}
.Projects_List{
    text-align: center;
    margin: 50px;
}
.Ship_Calc_Header{
    text-align: center;
    font-size: xx-large;
}
#Home_Butt{
    font-size: 20px;
}
.body_ship{
    text-align: center;
}
#project_head{
    text-align: center;
}
.Socials{
    text-align: center;
    margin-left: 50px;
    font-size: 24px;
}
#social_head{
    font-style: italic;
}
.navbuttons{
    background-color: rgb(20, 3, 20);
    margin-right: 12px;
}
nav{
    background: rgb(20, 3, 20);
}
footer{
    text-align: center;
    font-size: 12px;
}
.Skills{
    text-align: right;
    font-size: 36px;
    margin-right: 50px;
}
.Socials_body{
    margin-inline: 50px;
}
#Discord_Button{
    font-size: 30px;
    border-color: black;
}
.patchy{
    align-items: left;
}
#Shipment_Calculator{
    text-align: left;
}
#Bin_Search{
    text-align: right;
}
.skill_list{
    margin-inline: 50px;
}
#ship_bio{
    font-size: 24px;
    text-align: left;
    margin-left: 1000px;
    
}